nav .navbar-brand {
  font-family:  'Bangers', cursive;
}
nav ul li a i {
  margin-right:  2px
}
hr {
  background-color: darkgrey;
}
.jumbortron, #home-page  {
  background-image: url('images/news-background-pic-3225524.jpeg');
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
color: #fff;
}
